.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  size: 100px;
  opacity: 0.2; /* Ajusta el nivel de transparencia */
  z-index: -1; /* Coloca la capa de fondo detrás del contenido */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: 40%; /* Ajusta el tamaño de la imagen */
  background-position: center; /* Centra la imagen */
}

.app-header {
  padding: 20px;
  background-color: rgb(26, 95, 143); /* Fondo semitransparente */
  z-index: 1;
}

.navbar-title {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: white;
  flex-grow: 1; /* Asegura que el título esté centrado */
  text-align: center;
  line-height: 1; /* Alinea el texto verticalmente */
  position: absolute;
}

.navbar {
  
  display: flex;
  justify-content: center;
  gap: 20px;
  color: white;
}

.navbar-right {
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 1.1em;
  transition: background 0.3s;
}

.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Pregunta y botón de ingreso */
.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 8px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Sombra para destacar */
}

.question {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.benefits-button {
  padding: 12px 25px;
  background-color: rgb(209, 170, 31);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
}

.benefits-button:hover {
  background-color: rgb(170, 120, 20);
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los cuadros */
}
.benefit-item {
  background-color: #007BFF; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 15px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a puntero al pasar el ratón */
  transition: background-color 0.3s; /* Efecto de transición */
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
.benefit-item:hover {
  background-color: #0056b3; /* Color al pasar el ratón */
}

/* Botón de soporte */
.support-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(209, 170, 31);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
}

.support-button:hover {
  background-color: rgb(170, 120, 20);
}

.return-button {
  position: left;
  margin: 30px;
  height: 40px;
  width: 90px;
  background-color: rgb(209, 170, 31);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

.return-button:hover {
  background-color: rgb(170, 120, 20);
}

.becas-container {
  margin: 50px auto;
  padding: 40px; /* Aumenta el relleno interno */
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
  border-radius: 8px;
  max-width: 800px; /* Aumenta el ancho máximo */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Sombra para destacar */
  text-align: center;
}

.planes-container {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background-color:  rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
  border-radius: 8px;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Sombra para destacar */
}

.plan-column {
  text-align: center;
  width: 45%;
}

.plan-column h1 {
  font-size: 2em; /* Tamaño del título */
  margin-bottom: 20px;
}

.plan-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Sombra para destacar la imagen */
}

.ayuda-container {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo del contenedor */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  width: 800px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  margin: auto; /* Centrar en la página */
}

.ayuda-container ul {
  list-style-type: none; /* Quita las viñetas predeterminadas */
  padding: 0; /* Quita el espaciado interno de la lista */
}

.ayuda-container li {
  position: relative; /* Necesario para el posicionamiento */
  margin-bottom: 10px; /* Espacio entre elementos */
  color: #333; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  text-align: left;
}

.ayuda-barra {
  display: inline-block; /* Permite establecer dimensiones */
  width: 5px; /* Ancho de la barra */
  height: 20px; /* Alto de la barra */
  background-color: rgb(209, 170, 31); /* Color de la barra */
  position: absolute; /* Posiciona la barra */
  left: -15px; /* Alineado a la izquierda del elemento de la lista */
}
.navbar-item-with-submenu {
  position: relative;
  padding-top: 10px;
  font-size: 1.1em;
}

.navbar-item-with-submenu .menu-item {
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 5px;
}

.navbar-item-with-submenu .menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo con transparencia */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  z-index: 1;
  padding: 10px 0;
  min-width: 150px;
}

.submenu a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  transition: background 0.3s;
}

.submenu a:hover {
  background-color: rgba(209, 170, 31, 0.8);
  color: white;
  border-radius: 5px;
}

.date-picker-container {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center; /* Centra los elementos en el eje horizontal */
  justify-content: center; /* Centra los elementos en el eje vertical si es necesario */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra el contenedor en la página */
}

.date-picker-icon {
  margin-bottom: 10px; /* Espaciado inferior entre el ícono y el calendario */
}

.hours-list {
  margin-top: 20px;
}

.hour-item {
  background-color: #007BFF; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a puntero al pasar el ratón */
  margin-bottom: 10px; /* Espacio entre las horas */
  transition: background-color 0.3s; /* Efecto de transición */
}

.hour-item:hover {
  background-color: #0056b3; /* Color al pasar el ratón */
}

.confirmation-message {
  margin-top: 20px;
  border: 1px solid #ccc; /* Borde gris claro */
  padding: 15px;
  border-radius: 5px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo gris claro */
}

.appointment-container {
  background-color: rgba(255, 255, 255, 0.9); /* Color de fondo blanco con transparencia */
  border-radius: 8px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Sombra para destacar */
  max-width: 600px; /* Ancho máximo del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
  text-align: center; /* Centra el texto dentro del contenedor */
}

.login-button, .logout-button {
  background-color: rgb(209, 170, 31);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.login-button:hover, .logout-button:hover {
  background-color: rgb(170, 120, 20);
}

/* Estilos para el componente UserInfo */
.profile-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 8px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Sombra para destacar */
}

.profile-info {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-align: left;
  width: 100%;
}

/* Espacio entre los bloques */
.profile-info p {
  font-size: 1.1em;
  margin: 25px 0; /* Aumenta el espacio entre los párrafos */
}

/* Estilo de la imagen del perfil */
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px 0; /* Espaciado antes y después de la imagen */
  display: block; /* Hace que la imagen sea un bloque */
  margin-left: auto; /* Centra la imagen horizontalmente */
  margin-right: auto; /* Centra la imagen horizontalmente */
}

.info-container {
  margin: 100px;
  display: flex;
  justify-content: center; /* Centra los contenedores horizontalmente */
  gap: 100px; /* Espacio entre los contenedores */
}

.detail-container {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  height: 300px;
  width: 700px;
  text-align: center;
}

.detail-text {
  font-size: large;
  max-height: 100%; /* Restringe el alto máximo */
  overflow-y: auto; /* Añade scroll si el texto excede el alto */
  text-overflow: ellipsis; /* Trunca texto si es necesario */
  white-space: normal; /* Permite que el texto haga saltos de línea */
  padding: 20px;
  text-align: justify;
}

.detail-title {
  padding: 10px;
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}


