/* Estilos para el componente UserInfo */
.profile-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  
  .profile-info {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
    width: 100%;
  }
  
  .profile-info p {
    font-size: 1.1em;
    margin: 5px 0;
  }
  
  .logout-button {
    background-color: rgb(209, 170, 31);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .logout-button:hover {
    background-color: rgb(170, 120, 20);
  }
  