.main-content {
  padding: 20px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los cuadros */
}

.benefit-item {
  background-color: #007BFF; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 15px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a puntero al pasar el ratón */
  transition: background-color 0.3s; /* Efecto de transición */
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.benefit-item:hover {
  background-color: #0056b3; /* Color al pasar el ratón */
}
.main-content {
  padding: 20px;
}

.date-picker-container {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center; /* Centra los elementos en el eje horizontal */
  justify-content: center; /* Centra los elementos en el eje vertical si es necesario */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra el contenedor en la página */
}

.date-picker-icon {
  margin-bottom: 10px; /* Espaciado inferior entre el ícono y el calendario */
}

.hours-list {
  margin-top: 20px;
}

.hour-item {
  background-color: #007BFF; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a puntero al pasar el ratón */
  margin-bottom: 10px; /* Espacio entre las horas */
  transition: background-color 0.3s; /* Efecto de transición */
}

.hour-item:hover {
  background-color: #0056b3; /* Color al pasar el ratón */
}

.confirmation-message {
  margin-top: 20px;
  border: 1px solid #ccc; /* Borde gris claro */
  padding: 15px;
  border-radius: 5px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo gris claro */
}
