/* src/components/HeaderCuenta.css */
.app-header {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: flex-start; /* Alinea el botón de inicio a la izquierda */
}

.home-button {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 1.1em;
  transition: background 0.3s;
}

.home-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.title-container {
  display: flex;
  justify-content: center; /* Centra el título horizontalmente */
  margin-top: 10px; /* Espacio entre el navbar y el título */
}

h1 {
  margin: 0; /* Elimina márgenes para mejor alineación */
  text-align: center; /* Centra el texto dentro del h1 */
}