/* Capa de fondo con transparencia */
.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #333;
  overflow: hidden;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Ajusta el nivel de transparencia */
  z-index: -1; /* Coloca la capa de fondo detrás del contenido */
}

.app-header {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  z-index: 1;
}

h1 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar-right {
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 1.1em;
  transition: background 0.3s;
}

.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Pregunta y botón de ingreso */
.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 8px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.question {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.benefits-button {
  padding: 12px 25px;
  background-color: rgb(209, 170, 31);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

.benefits-button:hover {
  background-color: rgb(170, 120, 20);
}

/* Botón de soporte */
.support-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(209, 170, 31);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

.support-button:hover {
  background-color: rgb(170, 120, 20);
}

.becas-container {
  margin: 50px auto;
  padding: 40px; /* Aumenta el relleno interno */
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
  border-radius: 8px;
  max-width: 800px; /* Aumenta el ancho máximo */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
  text-align: center;
}

.planes-container {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background-color:  rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
  border-radius: 8px;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

.plan-column {
  text-align: center;
  width: 45%;
}

.plan-column h1 {
  font-size: 2em; /* Tamaño del título */
  margin-bottom: 20px;
}

.plan-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar la imagen */
}